/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Roboto', arial;
}

/* BODY */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6A6A6A;
}

/* CALCULADORA CONTAINER */
.calculadora {
    width: 310px;
    height: 500px;
    background-color: #1F1F1F;
    box-shadow: 1px 1px 3px #000;
    transition: all .5s ease;
}

.sumir {
    transform: scale(0, 0);
    opacity: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expandir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
}

.expandir:hover {
    background-color: #353535;
}

.expandir::selection {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
}

.expandirBox {
    width: 15px;
    height: 15px;
    border: 1px solid #FFF;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
}

.sair:hover {
    background-color: #E81123;
    cursor: default;
}

span::selection {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
}

/* TELA */
.tela {
    padding: 25px 15px 0px 15px;
}

#valor {
    width: 275px;
    font-size: 40px;
    font-weight: 700;
    background-color: #1F1F1F;
    text-align: end;
    outline: none;
    cursor: default;
}

#valor::selection {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
}

/* BOTOES */
.botoes {
    display: grid;
    grid-template-columns: repeat(4, 74px);
    grid-template-rows: repeat(6, 60px);
    column-gap: 2px;
    row-gap: 2px;
    justify-content: center;
    margin-top: 18px;
}

.botaoClaro,
.botaoEscuro,
.botaoVerde {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.botaoClaro {
    background-color: #131313;
}

.botaoClaro:hover {
    background-color: #383838;
}

.botaoClaro::selection {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
}

.botaoEscuro {
    background-color: #060606;
}

.botaoEscuro:hover {
    background-color: #383838;
}

.botaoEscuro::selection {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
}

.botaoVerde {
    background-color: #576423;
}

.botaoVerde:hover {
    background-color: #9CBA27;
}

.botaoVerde::selection {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
}

/* BOTÃO ABRIR */
#abrir {
    width: 100px;
    height: 70px;
    position: absolute;
    background-color: #131313;
    cursor: pointer;
    transition: all .5s ease;
}

.escondido {
    display: none;
}

/* RESPONSIVIDADE */

@media (max-width: 345px) {
    .calculadora {
        transform: scale(0.9, 0.9);
    }
}